<!doctype html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <title> Sightings </title>
  </head>

  <body>
    <h1 class="display-4"> Sightings </h1>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Unique_Squirrel_ID</th>
          <th scope="col">Date</th>
          <th scope="col">Longitude</th>
          <th scope="col">Latitude</th>
          <th scope="col">SHIFT</th>
          <th scope="col">AGE</th>
          <th scope="col">PRIMARY_FUR_COLOR</th>
          <th scope="col">LOCATION</th>
          <th scope="col">Specific_Location</th>
          <th scope="col">Running</th>
          <th scope="col">Chasing</th>
          <th scope="col">Climbing</th>
          <th scope="col">Eating</th>
          <th scope="col">Foraging</th>
          <th scope="col">Other_Activities</th>
          <th scope="col">Kuks</th>
          <th scope="col">Quaas</th>
          <th scope="col">Moans</th>
          <th scope="col">Tail_flags</th>
          <th scope="col">Tail_twitches</th>
          <th scope="col">Approaches</th>
          <th scope="col">Indifferent</th>
          <th scope="col">Runs_from</th>
        </tr>
        {% for Fields in sightings %}
        <tr>
          <td> {{Fields.Unique_Squirrel_ID}} </td>
          <td> {{Fields.Date}} </td>
          <td> {{Fields.Longitude}} </td>
          <td> {{Fields.Latitude}} </td>
          <td> {{Fields.SHIFT}} </td>
          <td> {{Fields.AGE}} </td>
          <td> {{Fields.PRIMARY_FUR_COLOR}} </td>
          <td> {{Fields.LOCATION}} </td>
          <td> {{Fields.Specific_Location}} </td>
          <td> {{Fields.Running}} </td>
          <td> {{Fields.Chasing}} </td>
          <td> {{Fields.Climbing}} </td>
          <td> {{Fields.Eating}} </td>
          <td> {{Fields.Foraging}} </td>
          <td> {{Fields.Other_Activities}} </td>
          <td> {{Fields.Kuks}} </td>
          <td> {{Fields.Quaas}} </td>
          <td> {{Fields.Moans}} </td>
          <td> {{Fields.Tail_flags}} </td>
          <td> {{Fields.Tail_twitches}} </td>
          <td> {{Fields.Approaches}} </td>
          <td> {{Fields.Indifferent}} </td>
          <td> {{Fields.Runs_from}} </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url "sighting_add" %}" class="btn btn-success">add a new sighting</a>
  </body>
</html>
