<!doctype html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <title> Sightings </title>
  </head>

  <body>
    <h1 class="display-4"> Sightings </h1>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Squirrel ID</th>
          <th scope="col">Date</th>
          <th scope="col">Update</th>
        </tr>
        {% for Fields in sightings %}
        <tr>
          <td> {{ Fields.Update_Squirrel_ID }} </td>
          <td> {{ Fields.Date }} </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url "sighting_add" %}" class="btn btn-success">add a new sighting</a>
  </body>
</html>
