<!DOCTYPE html>
<html>
	  <head>
		    <title> Squirrel Stats </title> 
	  </head>
	      <body>
		        <ul>
			        <li>The total number of sightings is {{squirrel_stats1}}</li>
			        <li>The number of grey squirrels is {{squirrel_stats2}}</li>
			        <li>The number of squirrels that may chase you is {{squirrel_stats3}}</li>
			        <li>The number of squirrels kuks heard is {{squirrel_stats4}}</li>
			        <li>The number of squirrels that may approach you is {{squirrel_stats5}}</li>
		        </ul>
	      </body>
</html>
